<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
    <%= javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
